.color {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  display: grid;
  background-color: #f0efe9;
  padding: 16px;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo cib social" "logo menu login";
}
@media (min-width: 992px) {
  .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu login";
  }
}

.btn-menubars {
  grid-area: bars;
}

.logotype {
  grid-area: logo;
}

.contact-information-bar {
  grid-area: cib;
}

.socialmedia-bar {
  grid-area: social;
}

.mainmenu {
  grid-area: menu;
}

.login {
  grid-area: login;
}