.color {
    color: #191919;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

    
header {
    display: grid;
    background-color: #F0EFE9;
    padding: 16PX;
}


.container {
    display: grid;
    align-items: center;
    column-gap: 70px;
    grid-template-columns:  1fr auto;
    grid-template-areas:
        "logo bars";
    
  @media (min-width: 992px){
   grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "logo cib social"
        "logo menu login";
    
  } 
    
        

.btn-menubars {
grid-area: bars;
border:none;
font-size: 25px;
background-color: transparent;

@media (min-width: 992px){

display: none;}
}

.logotype {
    grid-area: logo;
   
}

.contact-information-bar {
    grid-area: cib;
   @media (min-width: 992px){
display: block;}
}

.socialmedia-bar {
    grid-area: social;
    grid-area: cib;
    @media (min-width: 992px){
display: block;}
}


.mainmenu {
    grid-area: menu;
    grid-area: cib;
   @media (min-width: 992px){
display: block;}
}


.login {
    grid-area: login;
    grid-area: cib;
   @media (min-width: 992px){
display: block;}
}
